.header-container {
    padding: 10px;
    height: 40px;
    background-color: #222222;
    border-bottom: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-container button {
    float: right;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background-color: #f5d39d;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  
  .header-container button:hover {
    background-color: #d7890a;
  }

  .logout-button {
    background-color: #7234fa;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .header-title {
    font-size: 24px;
    color: #ddd8ce;
    text-align: center;
  }