/* VideoList.css */

.video-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .video-item video {
    width: 100%;
    height: auto;
  }
  
  .empty-video {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #aaa;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #ec9fec;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #e271b3fd;
  }
  
  .pagination span {
    margin: 0 10px;
  }

  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ec9fec;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .share-video {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center;
  }
  
  .share-video input {
    flex: 0.85;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .share-video button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ec9fec;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .share-video button:hover {
    background-color: #e271b3fd;
  }
  .share-video button:last-child {
    margin-right: 0;
  }

  .success-notification {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 10px;
    background-color: #3ae73a;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .error-notification {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 10px;
    background-color: #f54a01;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .success-notification button,
  .error-notification button {
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  .success-notification button:hover {
    background-color: rgb(0, 128, 0);
    border-radius: 10px;
  }

  .error-notification button:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
  }

  .video-item {
    margin-bottom: 20px;
  }
  
  .video-item h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .video-item p {
    margin: 5px 0;
    font-size: 16px;
  }

  .video-container {
    position: relative;
  }

  .share-video input {
    flex: 0.4;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }

  .button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button-edit {
    background-color: #d77edf;
    color: white;
  }
  
  .button-delete {
    background-color: #7c1a1a;
    color: white;
  }
  
  .button:hover {
    opacity: 0.8;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }

  .form-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
  }
  
  .form-comment label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .form-comment input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
  }
  
  .form-comment input[type="submit"] {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 100px;
    width: 100%;
  }
  
  .form-comment input[type="submit"]:hover {
    background-color: #45a049;
  }

  .button-liked {
    background-color: #f84a4a;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: 10%;
    max-width: 100px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .button-unliked {
    background-color: #7da2f1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 10%;
    max-width: 100px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }